---
import Illustration from "@components/about/Illustration.astro";
---

<div data-about-modal class="modal">
    <button data-close-modal class="modal__btn"> &#x2715;</button>
    <div>
        <div class="about-content">
            <Illustration />
        </div>
        <div class="about-texts">
            <h3>About me</h3>
            <p class="desc">
                I'm a frontend developer, UI designer from the Philippines.
            </p>
            <p class="desc">
                I've worked in various areas of UI/UX design, including frontend
                and some backend development.
            </p>
            <p class="desc">
                These days, I'm focusing on building mobile applications
                utilizing Expo (React Native), Swift/Kotlin and delving more
                into the backend using Node.js along with cloud services like
                AWS.
            </p>

            <br />
            <br />

            <article>
                <small class="date"> Present</small>
                <p>
                    <strong class="title"> Avazoo</strong>
                    <small> UI Designer & Full-stack Developer</small>
                    Designed and developed web application using Laravel, ReactJS
                    and MySQL along with a mobile application using Expo (React Native).
                </p>
            </article>
            <article>
                <small class="date"> Apr 2018 - Sept 2021</small>
                <p>
                    <strong class="title"> Apptech Gateway</strong>
                    <small> UI Designer & Full-stack Developer</small>
                    Developed mostly the frontend for a web application using Laravel,
                    ReactJS, MySQL and a mobile centric "match-it" game using ReactJS.
                </p>
            </article>
            <article>
                <small class="date"> Apr 2018 - Sept 2021</small>
                <p>
                    <strong class="title"> Entinux LTD.</strong>
                    <small> UI Designer & Front-end Developer</small>
                    Designed and developed various websites, web apps and mobile
                    apps using AngularJS, Ionic Framework and Wordpress for CMS.
                </p>
            </article>
            <article>
                <small class="date"> Dec 2021 - Dec 2022</small>
                <p>
                    <strong class="title"> Crateclub</strong>
                    <small> UI Designer & Front-end Developer</small>
                    Designed and developed web application and front facing web pages
                    using Laravel with mostly vanilla JS and CSS.
                </p>
            </article>
            <article>
                <small class="date"> Dec 2015 - Feb 2018</small>
                <p>
                    <strong class="title"> Nexusbond Asia Inc.</strong>
                    <small> Senior Developer / Designer</small>
                    Initiates project planning and brainstorming. Manages junior
                    developers for fast production of marketing pages and graphic
                    assets.
                </p>
            </article>
            <article>
                <small class="date"> </small>
                <p>
                    <a href="/assets/docs/roy-buhay-resume.pdf"> View Resume</a>
                </p>
            </article>
        </div>
    </div>
</div>

<style>
    .modal {
        background-color: var(--secondary-color);
    }
    .modal > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
    }

    .about-texts {
        height: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 4rem;
        padding-bottom: 4rem;
        padding-right: 2rem;
    }

    .about-texts h3 {
        font: var(--page-subtitle);
        color: var(--page-subtitle-color);
    }

    .about-texts p {
        color: var(--description-color);
        font-size: 0.8rem;
    }

    .about-texts p strong {
        font-size: 0.9rem;
        font-weight: 300;
        display: block;
        color: white;
    }

    .about-texts p small {
        display: block;
        color: #94abc2;
        margin-bottom: 0.5rem;
        font-size: 0.65rem;
        font-weight: 300;
    }

    .about-texts .date {
        display: block;
        width: 30%;
        text-transform: uppercase;
        font-size: 0.76rem;
        color: #4f6d88;
        font-family: Karla, "sans-serif";
    }

    .about-texts article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .about-texts article p {
        margin-top: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 0.75rem;
        color: var(--description-color);
    }

    .about-wrapper {
        width: 42rem;
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .about-panel {
        background-color: #ff964a;
        width: 26rem;
        height: 18rem;
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
        border-bottom-right-radius: 0.2rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [12];
        grid-template-columns: repeat(12, 1fr);
        -ms-grid-rows: (1fr) [7];
        grid-template-rows: repeat(7, 1fr);
        -webkit-transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
        transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
        -webkit-box-shadow: -30px 40px 20px 10px rgb(1 18 33 / 46%);
        box-shadow: -30px 40px 20px 10px rgb(1 18 33 / 46%);
    }

    .about-content {
        -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 14rem;
    }
    .about-panel:before {
        content: "";
        background: #994d27;
        position: absolute;
        z-index: -1;
        top: 4px;
        left: -5px;
        height: 100%;
        width: 5px;
        -webkit-transform: skewY(308deg);
        -ms-transform: skewY(308deg);
        transform: skewY(308deg);
        border-bottom-left-radius: 6px;
    }
    .about-panel:after {
        content: "";
        background: #9c3505;
        position: absolute;
        z-index: -1;
        bottom: -5px;
        right: 4px;
        height: 5px;
        width: 100%;
        -webkit-transform: skewX(318deg);
        -ms-transform: skewX(318deg);
        transform: skewX(318deg);
        border-top-left-radius: 1px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 5px;
    }
    .about-panel .noise {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -o-linear-gradient(rgba(255, 0, 0, 0), #be4600),
            url("./src/assets/images/noise.svg");
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(255, 0, 0, 0)),
                to(#be4600)
            ),
            url("./src/assets/images/noise.svg");
        background: linear-gradient(rgba(255, 0, 0, 0), #be4600),
            url("./src/assets/images/noise.svg");
        -webkit-filter: contrast(120%) brightness(100%);
        filter: contrast(120%) brightness(100%);
    }
    .about .shadow {
        position: absolute;
        top: 240px;
        left: -65px;
        width: 26rem;
        height: 18rem;
        z-index: -1;
        -webkit-transform: rotateX(50deg) rotateY(6deg) rotate(138deg);
        transform: rotateX(50deg) rotateY(6deg) rotate(138deg);
        border-radius: 7px;
        background: -o-linear-gradient(rgb(3, 38, 70), #07355f),
            url("./src/assets/images/noise.svg");
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(3, 38, 70)),
                to(#07355f)
            ),
            url("./src/assets/images/noise.svg");
        background: linear-gradient(rgb(3, 38, 70), #07355f),
            url("./src/assets/images/noise.svg");
        -webkit-filter: contrast(200%) blur(20px);
        filter: contrast(200%) blur(20px);
        opacity: 0.3;
    }

    @media screen and (max-width: 1200px) {
        .about-content {
            width: 770px;
            margin-right: -3rem;
            margin-left: -4rem;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
        }
    }

    @media screen and (max-width: 1024px) {
        .modal__content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .about-content {
            position: relative;
            margin: 100px auto 0;
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
            transform: scale(0.75);
        }
        .about-texts {
            padding: 2rem;
        }
    }

    @media screen and (max-width: 1100px) {
        .about-content {
            margin-left: -7rem;
            margin-right: -7rem;
            -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
            transform: scale(0.85);
        }
    }

    @media screen and (max-width: 850px) {
        .about-content {
            margin-left: -9rem;
            margin-right: -9rem;
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
            transform: scale(0.75);
        }
    }

    @media screen and (max-width: 900px) {
        .about-content {
            margin: 6rem auto 0;
        }
        .about-texts {
            margin-top: 0;
        }
        .about-texts article p a {
            font-size: 0.9rem;
            color: white;
        }
        .modal {
            top: 4%;
            height: 98%;
            padding-bottom: 3rem;
        }
        .modal > div {
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .modal:after {
            background: radial-gradient(
                    circle at 20% 0%,
                    rgba(0, 0, 0, 0),
                    #000
                ),
                url(/src/assets/images/noise.svg);
        }
    }

    @media screen and (max-width: 700px) {
        .about-texts {
            overflow: initial;
        }
        .about-content {
            margin-left: -1rem;
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }
    }

    @media screen and (max-width: 600px) {
        .about-content {
            left: -6rem;
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
            transform: scale(0.75);
        }
    }

    @media screen and (max-width: 520px) {
        .about-content {
            left: -8.5rem;
        }
    }

    @media screen and (max-width: 460px) {
        .about-content {
            left: -10rem;
        }
    }

    @media screen and (max-width: 420px) {
        .about-content {
            left: -10rem;
            -webkit-transform: scale(0.65);
            -ms-transform: scale(0.65);
            transform: scale(0.65);
        }
    }
</style>
