---

---

<div class="loader__container"></div>

<style>
    .loader__container {
        background-color: #092e54;
        position: fixed;
        inset: 0;
        z-index: 999;
        height: 100%;
        width: 100%;
        transition: height 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    .loader__container.close {
        height: 0%;
    }
</style>
