---
import { loadImage } from "@utils/index.ts"

interface Props {
    path: string;
    title: string;
    customClass?: string;
}
const { path, title, customClass } = Astro.props as Props;
const imageUrl = loadImage(title, path, 'jpg');
---

<li class={`splide__slide ${customClass}`}>
    <img
        src={imageUrl}
        alt={title}
        loading="lazy"
        decoding="async"
    />
</li>

<style>
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: white;
    }
    .splide__slide {
        margin-left: -1rem;
        margin-right: -5rem;
        border-radius: 0.4rem;
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 16rem;
        -webkit-box-shadow: 0 0 1rem 0 #042f5430;
        box-shadow: 0 0 1rem 0 #042f5430;
        -webkit-transition: margin 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -o-transition: margin 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition: margin 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        background-color: #062f54;
    }
    .splide__slide.dark {
        -webkit-box-shadow: -0.3rem 0 1.5rem -0.6rem rgb(27 24 28);
        box-shadow: -0.3rem 0 1.5rem -0.6rem rgb(27 24 28);
    }
    .splide__slide img {
        display: block;
        height: auto;
        width: 100%;
        transition: opacity 0.4s ease-out;
    }
    .splide__slide.mobile {
        width: 19rem;
        margin-left: -1rem;
        margin-right: 2rem;
    }
    .splide__slide.desktop {
        width: 42rem;
        margin-left: -1rem;
        margin-right: 2rem;
    }
    @media screen and (max-width: 1000px) {
        .splide__slide {
            width: 13rem;
        }
    }
    @media screen and (max-width: 750px) {
        .splide__slide {
            width: 14rem;
            margin-left: 0;
            margin-right: -3rem;
        }
        .splide__slide.mobile {
            width: 15rem;
        }
        .splide__slide.desktop {
            width: 33rem;
        }
    }
    @media screen and (max-width: 600px) {
        .splide__slide {
            width: 12.5rem;
        }
    }
    @media screen and (max-width: 500px) {
        .splide__slide {
            width: 10rem;
        }
    }
</style>
